body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.main-window {
    background: #30393E;
    display: flex;
    padding: 89px 45.3px 0 0;
    width: 1440px;
    height: 982px;
    box-sizing: border-box;
}

    .main-window .group-2 {
        position: relative;
        display: flex;
        padding: 89px 45.3px 0 0;
        width: 1440px;
        height: 1024px;
        box-sizing: border-box;
    }

    .main-window .rectangle-1 {
        background: #30393E;
        position: absolute;
        top: 0px;
        right: -288px;
        width: 1728px;
        height: 1116px;
    }

    .main-window .vector-1 {
        position: absolute;
        top: 332px;
        right: -114.5px;
        width: 719.5px;
        height: 736.8px;
    }

    .main-window .vector-2 {
        position: absolute;
        left: -97px;
        top: -112px;
        width: 580.2px;
        height: 623.6px;
    }

    .main-window .vector-3 {
        position: absolute;
        top: -112px;
        right: -190px;
        width: 389px;
        height: 529px;
    }

    .main-window .scooby-doo {
        position: relative;
        overflow-wrap: break-word;
        font-weight: 600;
        font-size: 90px;
        color: #FAEFEB;
        text-align: center;
    }

    .main-window .description {
        position: relative;
        overflow-wrap: break-word;
        font-weight: 600;
        font-size: 20px;
        color: #FAEFEB;
        padding-top: 20px;
    }
    

    .main-window .rectangle-2 {
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(7.5px);
        border-radius: 50px;
        background: rgba(255, 255, 255, 0.1);
        position: absolute;
        left: 50%;
        top: 87px;
        translate: -50% 0;
        width: 685px;
        height: 650px;
        display: flex;
        flex-direction: column;
        jystify-content: flex-start;
        padding: 30px;
    }

    


.theory-window {
    background: #30393E;
    display: flex;
    padding: 89px 45.3px 0 0;
    width: 1440px;
    height: 1902px;
    box-sizing: border-box;
}

    .rectangle-theorySeva {
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(7.5px);
        border-radius: 50px;
        background: rgba(255, 255, 255, 0.1);
        position: absolute;
        left: 50%;
        top: 87px;
        translate: -50% 0;
        width: 685px;
        height: 650px;
        display: flex;
        flex-direction: column;
    }


.theory-sevaT {
    position: relative;
    overflow-wrap: break-word;
    font-weight: lighter;
    font-size: 20px;
    color: #FAEFEB;
}

.theory-seva-h1 {
    font-size: 40px;
    font-weight: bold;
    color: #FAEFEB;
    padding-bottom: 30px; 
}

.seva-input {
    background: #FAEFEB;
}

.theory-seva-h2 {
    font-size: 25px;
    color: #FAEFEB;
    font-weight: bold;
}

.input-group {
    margin-bottom: 15px;
}

.theory-petya-h1 {
    font-size: 40px;
    font-weight: bold;
    color: #FAEFEB;
    padding-bottom: 10px;
}

.seva-t {
    background: #30393E;
    display: flex;
    padding-bottom: 109px;
    width: 1440px;
    height: 1700px;
    box-sizing: border-box;
}

    .seva-t .group-2 {
        position: relative;
        display: flex;
        padding: 91.9px 0 0 30.5px;
        width: 1440px;
        height: 1939px;
        box-sizing: border-box;
    }

    .seva-t .vector-4 {
        position: absolute;
        top: 517px;
        right: -110.5px;
        width: 755.8px;
        height: 460.7px;
    }

    .seva-t .vector-2 {
        position: absolute;
        left: -120px;
        top: -112px;
        width: 480.2px;
        height: 623.6px;
    }

    .seva-t .theory {
        position: relative;
        overflow-wrap: break-word;
        font-weight: 600;
        font-size: 128px;
        color: #FAEFEB;
        text-align: center;
        margin-bottom:50px;
    }

    .seva-t .theory2 {
        position: relative;
        overflow-wrap: break-word;
        font-weight: 600;
        font-size: 128px;
        color: #FAEFEB;
        text-align: center;
        margin-bottom: 5px;
    }

    .seva-t .vector-3 {
        position: absolute;
        top: -112px;
        right: -190px;
        width: 389px;
        height: 529px;
    }


    .seva-t .rectangle-2 {
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(7.5px);
        border-radius: 50px;
        background: rgba(255, 255, 255, 0.1);
        position: absolute;
        left: 50%;
        padding: 20px;
        top: 87px;
        translate: -50% 0;
        width: 1168px;
        height: 1368px;
        flex-direction: column;
        display: flex;
    }


.petya-t {
    background: #30393E;
    display: flex;
    padding-bottom: 109px;
    width: 1440px;
    height: 5200px;
    box-sizing: border-box;
}

    .petya-t .group-2 {
        position: relative;
        display: flex;
        padding: 91.9px 0 0 30.5px;
        width: 1440px;
        height: 1939px;
        box-sizing: border-box;
    }

    .petya-t .vector-4 {
        position: absolute;
        top: 517px;
        right: -110.5px;
        width: 755.8px;
        height: 460.7px;
    }

    .petya-t .vector-2 {
        position: absolute;
        left: -120px;
        top: -112px;
        width: 480.2px;
        height: 623.6px;
    }

    .petya-t .theory {
        position: relative;
        overflow-wrap: break-word;
        font-weight: 600;
        font-size: 128px;
        color: #FAEFEB;
        text-align: center;
        margin-bottom: 50px;
    }

    .petya-t .vector-3 {
        position: absolute;
        top: -112px;
        right: -190px;
        width: 389px;
        height: 529px;
    }

    .petya-t .rectangle-2 {
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(7.5px);
        border-radius: 50px;
        background: rgba(255, 255, 255, 0.1);
        position: absolute;
        left: 50%;
        padding: 20px;
        top: 87px;
        translate: -50% 0;
        width: 1168px;
        height: 4820px;
        flex-direction: column;
        display: flex;
    }

.petya-p {
    background: #30393E;
    display: flex;
    padding-bottom: 109px;
    width: 1440px;
    height: 2100px;
    box-sizing: border-box;
}

    .petya-p .group-2 {
        position: relative;
        display: flex;
        padding: 91.9px 0 0 30.5px;
        width: 1440px;
        height: 1939px;
        box-sizing: border-box;
    }

    .petya-p .vector-4 {
        position: absolute;
        top: 517px;
        right: -110.5px;
        width: 755.8px;
        height: 460.7px;
    }

    .petya-p .vector-2 {
        position: absolute;
        left: -120px;
        top: -112px;
        width: 480.2px;
        height: 623.6px;
    }

    .petya-p .theory {
        position: relative;
        overflow-wrap: break-word;
        font-weight: 600;
        font-size: 128px;
        color: #FAEFEB;
        text-align: center;
        margin-bottom: 50px;
    }

    .petya-p .theory2 {
        position: relative;
        overflow-wrap: break-word;
        font-weight: 600;
        font-size: 128px;
        color: #FAEFEB;
        text-align: center;
        margin-bottom: 5px;
    }

    .petya-p .vector-3 {
        position: absolute;
        top: -112px;
        right: -190px;
        width: 389px;
        height: 529px;
    }


    .petya-p .rectangle-2 {
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(7.5px);
        border-radius: 50px;
        background: rgba(255, 255, 255, 0.1);
        position: absolute;
        left: 50%;
        padding: 20px;
        top: 87px;
        translate: -50% 0;
        width: 1168px;
        height: 1868px;
        flex-direction: column;
        display: flex;
    }

.input-container {
    position: relative;
    padding: 20px;
}

/* Стилизация текстового поля */
.input-field {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    border-color: #74C8CB;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

    /* Стилизация фокуса текстового поля */
    .input-field:focus {
        outline: none;
        border-color: #007bff; /* Цвет границы при фокусе */
    }

/* Стилизация подписи */
.input-label {
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    left: 15px;
    color: #666;
    padding-left:10px;
    padding-bottom: 15px;
    font-size: 16px;
    pointer-events: none;
    transition: top 0.3s, font-size 0.3s;
}

/* Стилизация подписи при активном состоянии (когда в поле есть текст) */
.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
    top: -1px;
    padding-left: 10px;
    font-size: 12px;
}

/* Стилизация для плавающего ввода (floating input) */
.input-floating {
    padding-top: 10px; /* Увеличение верхнего отступа для учета плавающей подписи */
}


/* Стилизация основного контейнера */
.textarea-container {
    position: relative;
    padding:20px;
}

/* Стилизация текстовой области */
.textarea-field {
    width: 100%;
    min-height: 100px; /* Минимальная высота для обеспечения видимости текста */

    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    border-color: #74C8CB;
    resize: vertical; /* Разрешить только вертикальное изменение размера */
    transition: border-color 0.3s ease;
}

    /* Стилизация фокуса текстовой области */
    .textarea-field:focus {
        outline: none;
        border-color: #007bff; /* Цвет границы при фокусе */
    }

/* Стилизация подписи */
.textarea-label {
    position: absolute;
    top: 20%;
    transform: translateY(-30%);
    left: 10px;
    color: #666;
    padding-left:15px;
    font-size: 16px;
    pointer-events: none;
    transition: top 0.3s, font-size 0.3s;
}

/* Стилизация подписи при активном состоянии (когда в области есть текст) */
.textarea-field:focus + .textarea-label,
.textarea-field:not(:placeholder-shown) + .textarea-label {
    top: -1px; /* Поднимаем подпись над полем */
    font-size: 12px;
}

/* Стилизация для плавающего ввода (floating input) */
.textarea-floating {
    padding-top: 10px; /* Увеличение верхнего отступа для учета плавающей подписи */
}

.input-div{
    display: flex;
    flex-direction: column;
}


/* Стилизация основного контейнера */
.button-container {
    position: relative;
    padding: 20px;
}

/* Стилизация кнопки */
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #74C8CB;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    /* Стилизация кнопки при наведении */
    .btn:hover {
        background-color: #376466;
    }

/* Стилизация большого контейнера */
.button-container-big-gun {
    position: relative;
    padding: 10px;
}

/* Стилизация кнопки */
.btn-big-gun {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #74C8CB;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    /* Стилизация кнопки при наведении */
    .btn-big-gun:hover {
        background-color: #376466;
    }

.table-container1 {
    max-width: 100%; /* Максимальная ширина контейнера */
    overflow-x: auto; /* Горизонтальный скролл, если содержимое не помещается */
}

table {
    width: 90%; /* Занимает всю доступную ширину контейнера */
    table-layout: fixed; /* Фиксированная ширина ячеек */
}

    table th {
        background-color: #74C8CB; /* Цвет фона для заголовков */
    }

.seva-pract-window {
    width: 1440px;
    height: 982px;
}

.about-window {
    width: 1440px;
    height: 982px;
}

.git-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #74C8CB;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.3s ease; /* Добавляем анимацию для плавного изменения размера */
    display: flex;
    align-items: center; /* Выравнивание элементов по центру по вертикали */
    height: 200px;
    width: 400px;
}

    /* Стилизация кнопки при наведении */
    .git-btn:hover {
        background-color: #376466;
        transform: scale(1.1); /* Увеличиваем размер кнопки при наведении */
        color: #fff;
        text-decoration:none;
    }

    /* Стилизация изображения внутри кнопки */
    .git-btn img {
        margin-right: 10px; /* Отступ справа от изображения */
        height: 150px;
        width: 150px;
        border-radius: 40px;
    }

.row-div {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    gap:30px;
}